<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lab1.Properties.Settings.MagazinSportivConnectionString"
            connectionString="Data Source=ALBERT;Initial Catalog=MagazinSportiv;Integrated Security=True;Encrypt=False"
            providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>